// Theme Specific Variables
$primaryColor: #48f2fb;
$primaryDarkColor: #77cfe1;
$primaryDarkerColor: #1976D2;

// Map all the colors used throughout the theme to these variables, we can add more as needed
// Note: These variables need to be defined in order to use but root variables do not (the are references)
$primaryTextColor: var(--primary-text-color);
$secondaryTextColor: var(--secondary-text-color);

$secondaryColor: #e867ea;
$tertiaryColor: #c1d82f;

$input-bg-color: var(--surface-a);
$panel-header-bg-color: var(--surface-a);
$panel-content-bg-color: #2e2e2e; // ALSO surface A but has dependencies that require actual color
$menu-bg-color: var(--surface-a);
$surface-hover-bg-color: var(--surface-hover);

$highlight-bg: #009688; // Same as surface-hover but dependency issue

// TOOLTIP
$tooltip-bg-color: var(--surface-b);

// BUTTONS
$button-text-color: #252525;

// CHIPS
$chip-bg-color: #252525;
$chipTextColor: var(--primary-text-color);

// TABLE (Probably easier to just add the shade color it's already)
$table-header-footer-bg-color: #252525;
$table-body-background-color: #252525;
$table-hover-color: var(--surface-c);

// SKELETON
$skeletonBg: rgba(255, 255, 255, 0.06) !default;
$skeletonAnimationBg: rgba(255, 255, 255, 0.04) !default;

// MENU
$menu-text-color: var(--primary-color);

$gradient-bg: linear-gradient(45deg, $primaryColor 0%, black 20%, black 80%, $secondaryColor 100%);

$colors: (
    "blue": #2196F3,
    "green": #4caf50,
    "yellow": #FBC02D,
    "cyan": #00BCD4,
    "pink": #E91E63,
    "indigo": #3F51B5,
    "teal": #009688,
    "orange": #F57C00,
    "bluegray": #607D8B,
    "purple": #9C27B0,
    "red": #FF4032,
    "primary": $primaryColor,
    "secondary": $secondaryColor,
    "tertiary": $tertiaryColor
);

// Mandatory Designer Variables
@import './variables/general';
@import './variables/form';
@import './variables/button';
@import './variables/panel';
@import './variables/_data';
@import './variables/_overlay';
@import './variables/_message';
@import './variables/_menu';
@import './variables/_media';
@import './variables/_misc';

:root {
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --surface-a: #2e2e2e;
    --surface-b: #252525;
    --surface-c:#202020;
    --surface-d:#ecd823;
    --surface-e:#eb1d1d;
    --surface-f:#030303;
    --text-color:#d9dfe4;
    --text-color-secondary:#8f9499;
    --primary-color:#48f2fb;
    --primary-color-text:#ffffff;
    --secondary-color: #e867ea;
    --tertiary-color: #c1d82f;
    --surface-0: #ffffff;
    --surface-50: #FAFAFA;
    --surface-100: #F5F5F5;
    --surface-200: #EEEEEE;
    --surface-300: #E0E0E0;
    --surface-400: #BDBDBD;
    --surface-500: #9E9E9E;
    --surface-600: #757575;
    --surface-700: #616161;
    --surface-800: #424242;
    --surface-900: #212121;
    --content-padding:#{$panelContentPadding};
    --inline-spacing:#{$inlineSpacing};
    --border-radius:#{$borderRadius};
    --surface-ground:#f8f9fa;
    --surface-section:#ffffff;
    --surface-card:#ffffff;
    --surface-overlay:#ffffff;
    --surface-border:#dee2e6;
    --surface-hover:#009688;
    --maskbg: #{$maskBg};
    --highlight-bg: #{$highlightBg};
    --highlight-text-color: #{$highlightTextColor};
    --focus-ring: #{$focusShadow};
    color-scheme: dark;
}
